name: Build

on:
  push:
    paths-ignore:
      - 'README.md'
    branches: [ "main" ]
  pull_request:
    paths-ignore:
      - 'README.md'
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  macOsAndWindows:
    name: Build (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: windows-latest
            gradle_cmd: .\\gradlew.bat
            lib: rust.dll
          - os: macos-latest
            gradle_cmd: ./gradlew
            lib: librust.dylib
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4
      - name: Setup Java
        uses: graalvm/setup-graalvm@v1
        with:
          java-version: '21'
          distribution: 'graalvm'
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
      - name: Build
        run: ${{ matrix.gradle_cmd }} build
      - name: Prepare Artifacts
        # Always make sure files that are published contain the license files
        run: |
          mkdir dist
          cp rust/target/release/${{ matrix.lib }} dist/
          cp rust/THIRD_PARTY_LICENSES.MD dist/
          cp LICENSE.MD dist/
      - name: Upload native library
        uses: actions/upload-artifact@v4
        with:
          name: native-${{ matrix.os }}
          path: dist/*

  package:
    name: Build ubuntu-latest and Package All Platforms
    runs-on: ubuntu-latest
    needs: macOsAndWindows
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4
      - name: Setup Java
        uses: graalvm/setup-graalvm@v1
        with:
          java-version: '21'
          distribution: 'graalvm'
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
      - name: Download Windows native
        uses: actions/download-artifact@v4
        with:
          name: native-windows-latest
          path: artifacts/native/windows
      - name: Download macOS native
        uses: actions/download-artifact@v4
        with:
          name: native-macos-latest
          path: artifacts/native/macos
      - name: Copy native libraries from Windows and macOS
        run: |
          mkdir -p build/external-natives
          cp artifacts/native/windows/rust.dll build/external-natives/
          cp artifacts/native/macos/librust.dylib build/external-natives/
      - name: Build
        run: ./gradlew build
      - name: Upload jar
        uses: actions/upload-artifact@v4
        with:
          name: build
          path: build/libs/*.jar
      - name: Prepare Artifacts
        # Always make sure files that are published contain the license files
        run: |
          mkdir dist
          cp rust/target/release/librust.so dist/
          cp rust/THIRD_PARTY_LICENSES.MD dist/
          cp LICENSE.MD dist/
      - name: Upload native library
        uses: actions/upload-artifact@v4
        with:
          name: native-ubuntu-latest
          path: dist/*